* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 10px;
    width: 90vw;
    height: 90vh;
  }
  
  #tablePlace {
    position: relative;
  }
  td {
    border: 1px solid #000;
  }
  
  .draggable {
    height: 100px;
    width: 100px;
    background-color: red;
  }
  
  .components {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* height:400px; */
    /* grid-gap: 10px; */
    background-color: #2196F3;
    padding: 10px;
  }
  
  .container div {
    color:#fff;
    text-align:center;
  }
  
  .defaultBlock {
    border:1px solid red;
    /* height: 200px; */
    padding: 10px;
  }
  
  .blockheight1 {
    grid-row: 1 / 5;
    grid-column: 1 / 3;
    background:red;
  }
  
  .blockheight2 {
    grid-row: 1 / 3;
    grid-column: 3 / 3;
    background:greenyellow;
  }
  
  .blockheight3 {
   grid-row: 3 / 5;
   grid-column: 3 / 3;
   background:dodgerblue;
  }